h1{
    text-align: center;
}
body{
    background-color:  rgb(252, 223, 228);
}
ins{
    background-color:rgb(241, 182, 73);
}
fieldset{
    background-color: palevioletred;
}
legend{
    text-align: center;
    font-family:sans-serif ;
}
table{
    text-align: center;
}
th{
    background-color:palevioletred; 
}
nav{
    background-color:rgb(183, 216, 237); 
}
table,tr,th,td{
    border: 1px solid black;
    border: 1px solid black;
 }